.main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.polygon {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  background-color: var(--pale-orange);
}

.container {
  gap: 1rem;
  z-index: 1;
  width: 90vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumb_containter {
  flex: 1;
  height: 100%;
}

.thumbs_up {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/Thumbs.svg);
}

.content_container {
  flex: 1;
  height: 100%;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_sub_container {
  height: fit-content;
  gap: 0.1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
}

.sub_title {
  font-weight: 500;
  color: var(--dark-gray);
}

.btn {
  width: 50%;
  min-width: 200px;
  max-width: 275px;
  height: 3rem;

  color: var(--white);
  border-radius: 10px;
  border: var(--orange);
  background-color: var(--orange);
}

.btn:hover {
  border: var(--light-orange);
  background-color: var(--light-orange);
}

.btn:active {
  border: var(--dark-orange);
  background-color: var(--dark-orange);
}

/* Mobile / Tablet */
@media (max-width: 600px) {

  .container {
    gap: 0;
    width: 85vw;
    height: 85vh;
    flex-direction: column;
    justify-content: flex-end;
  }

  .thumb_containter {
    flex: 1;
    height: 70%;
    width: 85%;
  }

  .content_container {
    flex: 0.85;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .content_sub_container > h1 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .btn {
    width: 80vw;
    min-width: unset;
    max-width: unset;
  }

}
